.manase-base-container {
    width: 100%;
    height: 100vb;
    display: flex;
}

.manage {
    width: 25%;
    height: 0;
    visibility: hidden;
    background: var(--main-color);
    border-radius: .7rem;
    padding: 1.3rem;
    margin-right: 1rem;
    box-shadow: .4rem 0 4rem rgba(0, 0, 0, .25);
    transition: height ease-in .7s;
}

.manage--active {
    height: 98%;
    visibility: visible;
}


/* folder area */

.manage__all-folder {
    transition: visible ease-in .7s, width ease-in .7s;
    visibility: hidden;
    width: 0;
    overflow: hidden;
}

.all-folder__list {
    display: flex;
    flex-wrap: wrap;
    max-height: 50rem;
    overflow-y: scroll;
}

.all-folder__folder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .3rem .4rem;
    transition: background ease-in .2s, box-shadow ease-in .2s;
    padding: .5rem 1rem;
    border-radius: .7rem;
}

.all-folder__folder:hover,
.all-folder__folder--active {
    background: rgba(217, 217, 217, .4);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);

}

.all-folder__link {
    width: 100%;
}


.link__left-side {
    display: flex;
    align-items: center;
}

.link__image {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--text-color);
}

.link__title {
    margin-left: 1.5rem;
    color: var(--text-color);
    font-size: 1.8rem;
}

.link__close {
    display: flex;
    align-items: center;
}

.close__image {
    width: 2.3rem;
    height: 2.3rem;
    fill: var(--alert-color);
    transition: fill ease-in .2s;
}

.close__image:hover {
    fill: var(--alert-color-hover);
}

/* add folder area */

.manage__add-folder {
    transition: visible ease-in .7s, width ease-in .7s;
    visibility: hidden;
    width: 0;
    overflow: hidden;
}

.manage__add-folder>form {
    background: var(--text-color);
}

.manage__add-folder>form input {
    color: var(--main-color);
}

.manage__add-folder>form input::placeholder {
    color: var(--main-color);
}

.manage__add-folder>form svg {
    fill: var(--main-color);
}

/* base area */

.base {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
}

.base__show-user-info {
    width: 100%;
    height: 6rem;
    background: var(--main-color);
    border-radius: .7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, .16);
    margin-bottom: 1.5rem;
}

.show-user-info__user-info {
    display: flex;
    align-items: center;
}

.user-info__image {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 100%;
    margin-right: 1rem;
}

.user-info__name {
    font-family: "OX_bold";
    font-size: 2rem;
}

.user-info__show-name {
    color: var(--main-color-hover);
}

.show-user-info__log-out {
    display: flex;
    align-items: center;
}

.log-out__logo {
    width: 4rem;
    height: 4rem;
    fill: var(--alert-color);
    margin-right: .7rem;
}

.log-out__text {
    color: var(--alert-color);
}

/* task adder */

.base__all-tasks {
    width: 100%;
}

.all-tasks__add-task {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2.7rem;
}

.add-task__title {
    color: var(--main-color);
    font-family: "OX_extra_bold";
    font-size: 3.5rem;
    margin-right: 5rem;
}

.all-tasks__add-task .add--form {
    width: 35rem;
}

.all-tasks__add-task>form {
    background: var(--main-color);
}

.all-tasks__add-task>form input {
    background: var(--main-color);
    color: var(--text-color);
}

.all-tasks__add-task>form input::placeholder {
    color: var(--text-color);
}

.all-tasks__add-task>form svg {
    fill: var(--text-color);
}

/* has task body */

/* no task body */

.all-task__empty {
    display: flex;
    align-items: center;
}

.empty__icon {
    width: 13rem;
    height: 13rem;
    fill: var(--alert-color);
    margin-right: 1.2rem;
}

.empty__texts>h2 {
    color: var(--alert-color);
    font-family: "OX_extra_bold";
    font-size: 3rem;
}

.empty__texts>h3 {
    color: var(--main-color);
    font-family: "OX_extra_bold";
    font-family: 2.5rem;
}